.card-outer {
  width: 18rem;
  height: 30rem;
  perspective: 1000px;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card-outer.is-flipped .card-inner {
  transform: rotateY(180deg);
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  pointer-events: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1rem;
}

.card-front {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
   z-index: 2;
}

.card-front .overlay {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--brown);
  transition: opacity 0.2s ease-in-out;
  z-index: 1;
}

.card-front:hover .overlay {
  opacity: 0;
}

.container-card:hover {
  transform: scale(1.025); /* zoom suave */
}

.card-front .content {
  position: relative;
  z-index: 2;
  color: #fafafa;
  text-align: center;
}

.card-back {
  background-color: var(--brown);
  z-index: 1;
  color: white;
  transform: rotateY(180deg);
  justify-content:stretch;
  align-items: center;
  gap: .5rem;
  text-align: center;
  box-sizing: border-box; 
}

h1 {
  font-size: 2rem;
  font-family: "SedraRegular";
  text-align: center;
  color: #fafafa;
  line-height: 30px;
  padding-bottom: 3px;
}

.botao-detalhes {
    width: fit-content;
    padding: 0.5rem 10px;
    background-color: #9D4815;
    text-align: center;
    font-family: "SedraRegular";
    font-size: 1.2rem;
    margin: 5px auto 15px;
    color: #fafafa;
    transition: 0.2s ease-in-out;
}

.botao-detalhes:hover{
    background-color: var(--white);
    color:var(--orange);
    cursor: pointer;
    padding: 0.5rem 10px;
}

hr{
    color: #9D4815;
}

.container-price {
  display: flex;
  align-items:baseline;
  font-family: "SedraRegular";
  justify-content: center;
  margin: 0 auto;
  color: #fafafa;
  padding-top: 0.5rem;
  gap: 0.25rem;
}

#title{
  position: relative;
  width: 100%;
}

.card-back li{
  text-align: start;
  margin-bottom: 0.5rem;
  line-height: 1.4rem;
  word-break: break-word;
  
}
.card-back ul{
  padding-left: 1.25rem;   /* afasta os bullets da borda */
  margin: 0;
  list-style-type: disc;
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  width:fit-content;
}

.card-outer.is-flipped .card-front {
  z-index: 1;
}

.card-outer.is-flipped .card-back {
  z-index: 2;
}

#title p{
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fafafa;
  cursor: pointer;
  user-select: none;
  margin-top: -3px;
  z-index: 3;
}