.botao-personalizar {
    width: 20rem;
    padding: 20px 3px;
    background-color: var(--orange);
    text-align: center;
    font-family: "NunitoSans";
    font-size: 1.2rem;
    margin: 0px auto 100px;
    color: #fafafa;
}

.botao-personalizar:hover{
    background-color: var(--white);
    color:var(--orange);
    cursor: pointer;
    border: 2px solid var(--orange);
    padding: 18px 1px;
}