.hero {
    position: relative;
    height: 100vh;
    background-image: url('src/assets/images/ex_festa5.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items:flex-start;
    justify-content:left;
    text-align: left;
  }
  
  .hero-overlay {
    position: absolute;
    inset: 0;
    background-color: var(--brown); 
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .hero-content {
    position: relative;
    z-index: 2;
    margin-top: 14rem;
    padding-left: 4rem;
    
  }

  .hero-carrossel {
    position: absolute; 
    right: 0;            
    top: 50%;            
    transform: translateY(-50%);
    width: 45vw;        
    height: auto;        
    z-index: 2;
    overflow: hidden;    
    border: none;    
  }

  .item-footer{
    border: 1px solid red;
    background-color: var(--brown2);
  }

  .item-footer div{
    height: max-content;
    display: flex;
    background-color: (var(--brown2));
  }

  @media (max-width: 768px) {
    .hero-content {
      margin-top: 4rem;
    }
    .hero-carrossel{
      margin-top: 4rem;
    }
  }  
  
  .hero-content h1 {
    font-family: 'SedraBold', sans-serif;
    font-size: 6rem;
    line-height: 1.2;
    text-align: left;
    padding-bottom: 4rem;
  }

  .hero-content button{
    color: var(--brown2);
    background-color: var(--eggshell);
    font-size: 1rem;
  }