#topo-pacotes {
    padding-top: 10rem;
  }
  
  #logo-container {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
  }
  
  #barra-lateral {
    width: 5rem;
    height: 3rem;
    background-color: #9d4915;
    margin-right: 0.5rem;
  }
  
 
  
  #linha-titulo-pacote {
    text-align: left;
    font-family: "SedraRegular", sans-serif;
    font-size: 2rem;
    color: #1c194e;
    position: relative;
    padding-left: 4rem;
    padding-right: 4rem;    
  }
  
  #linha-titulo p {
    margin: 0;
    margin-bottom: 2px;
  }
  
  #linha-horizontal {
    margin: 2rem 2rem 0 2rem;
    height: 2px;
    background-color: #9d4915;

    
  }

  #side{
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  #side p{
    align-self: center;
    margin-bottom: -8px
  }
  