#escolha-pacote{
   scroll-margin-top: 8rem;
  color: var(--white);
}
.escolha-pacote {
    position: relative;
    color: var(--white);
    background-image: url('src/assets/images/ex_festa.jpg');
    background-size: cover;
    background-position: center;
  }
  
  .escolha-pacote-overlay{
    padding: 4rem 0;
    background-color: var(--brown); 
  }

  #opcoes{
    display: flex;
    padding-top: 4rem;
    align-items: center;
    height: 37.5rem;
    justify-content: space-around;
  }

  #opcoes img{
    justify-self: center;
    width: 23rem; 
  }


  #pacote-botao{
  margin-top: 4rem;
  justify-self: center;
  background-color: var(--eggshell);
  color: var(--brown2);
  font-size: 1rem;
  font-weight: 500;
}


  