#topo-opcionais {
  padding-top: 2rem;
}

#logo-container-opcionais {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

#barra-lateral-opcionais {
  width: 5rem;
  height: 3rem;
  background-color: #9d4915;
  margin-right: 0.5rem;
}

#linha-titulo-opcionais {
  text-align: center;
  font-family: "SedraRegular";
  font-size: 3.5rem;
  color: var(--darkblue);
  position: relative;
  padding-left: 10rem;
  padding-right: 10rem;
  margin-bottom: -1px;
}

#linha-horizontal-opcionais {
  width: 100%;
  height: 1px;
  background-color: #9d4915;
  margin-top: -15px;
  margin-bottom: 30px;
}

#linha-titulo-opcionais p {
  font-size: 15px;
  font-family: "SedraMedium";
  text-align: left;
  color: var(--darkblue);
}

#texto-opcionais {
  margin: 0 auto;
  max-width: 800px;
}
