.header {
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(28, 25, 78, 0.36);
    position: absolute;
    top: 0;
    z-index: 1000;
    color: #fafafa;
    font-family: 'SedraBold-Italic','NunitoSans', sans-serif;
  }
  
  .logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'SedraBold-Italic', sans-serif;
  }
  
  .nav ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav a {
    text-decoration: none;
    color: rgb(28, 25, 78);
    font-weight: 600;
    transition: color 0.3s;
  }
  
  .nav a:hover {
    color: #ae653c;
  }
  
  .login-icon i {
    font-size: 1.3rem;
    cursor: pointer;
  }
  