.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  color: #fafafa;
  font-family: 'SedraMedium', 'NunitoSans', sans-serif;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.5s ease-in;
  background-color: transparent;
}

.header.scrolled {
  background-color: var(--orange);
}

.header-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo-img {
  display: flex;
  align-items: left;
  width: 10rem;
  height: auto;
}

.nav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.nav a {
  position: relative;
  text-decoration: none;
  color: var(--white);
  font-weight: 600;
  transition: color 0.3s;
}

.nav a::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: currentColor;
  transition: width 0.3s ease;
} 

.nav a:hover::after {
  width: 100%;
  
}

.login-icon a {
  font-size: 1.2rem;
  cursor: pointer;
}