#pagina-base-festa{
  background-color: var(--white);
  position: relative;
}


#titulo {
  font-size: 28px;
  font-family: 'SedraBold';
  text-align: center;
  margin-bottom: 10px;
}

#linha-titulo {
  width: 60px;
  margin: 0 auto 24px auto;
  border: 2px solid var(--orange);
}

#descricao {
  text-align: center;
  margin-bottom: 32px;
  color: #444;
}

.container-botao {
  position: relative;
  min-height: 100px; 
}

#botao-avancar {
  position: absolute;
  bottom: 10px; 
  right: 15rem;  
  background-color: var(--orange);
  color: white;
  padding: 12px 30px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

#botao-avancar:hover {
  background-color: chocolate;
}

.footer-basedrinks {
  margin-top: 4rem;
}
