.personalizacao {
    padding: 5rem 0;
    background-color: var(--white);
    position: relative;
  }
  
  .titlePersonalizacao{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
  }

  .box-esq {
    background: #9d4915;
    width: 5rem;
    height:3rem;
    left: 0;
    position: flex;
  }

  .titlePersonalizacao p {
    font-size: 2rem;
    font-family: "SedraRegular-Italic";
    text-align: left;
    padding-right: 4rem;
    margin-bottom: 0.5rem;
  }

  .titlePersonalizacao h1 {
    font-size: 5rem;
    font-family: "SedraRegular";
    padding-left: 4rem;
    line-height: 0.5;
  }

  #steps {
    display: flex;
    flex-direction: row;  
    justify-content: space-around; 
    align-items: flex-start;
    padding: 2rem 2rem 0;
    gap: 1rem;
  }

  #step {
    flex: 1;
    max-width: 20rem;
    text-align: left;
  }
  
  #step h2 span {
    font-size: 8rem;
    font-weight: bold;
    color: #101820;
    display: block;
    font-family: "SedraRegular";
  }


  #step h2 {
    font-size: 2rem;
    color: #101820;
    font-family: "SedraRegular-Italic";
    text-align: left;
  }
  
  #step h2 em {
    display: inline-block;
    font-size: 2rem;
    color: #101820;
    font-family: "SedraRegular-Italic";

  }
  
  
  #step p {
    font-size: 0.95rem;
    line-height: 1.5;
    color: #101820;
    font-family: "NunitoSans";
    padding-bottom: 2rem;

  }

  #step img {
    width: 100%;
    height: 15rem;
    max-width: 25rem;
    margin-bottom: 1rem;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(30, 27, 27, 0.464);
  }

#personalizar-botao{
   width: fit-content;
  background-color: var(--orange);
  color: var(--white);
  justify-self: center;
  font-size: 2rem;
  font-weight: 500;
  padding: 2.5rem 8rem;
}

#personalizar-botao img{
  height: 2rem;
  width: 2rem;
}

 


