.footer {
    background-image: url('/assets/images/bartender6.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    color: var(--white);
    padding: 2rem 1rem;
}

.footer-overlay {
    position: absolute;
    inset: 0;
    background-color: var(--brown); 
    z-index: 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;  
    align-items: flex-start;          
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1200px;             
    position: relative;
    z-index: 1;
}

.footer-col {
    flex: 1;
    min-width: 250px;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.logo-img {
    width: 20rem;
    height: auto;
    display: block;
}

.social {
    text-align: left;  
}

.social h3 {
    margin-bottom: 0.1rem;
}

.social ul {
    list-style: none;
    padding: 0 0 2rem 0;
    margin: 0;
    justify-content: left;
}

.social li {
    margin-top: 0.1rem;
    display: flex;
    align-items:center;
    font-family: "SedraLight";
    gap: 0.25rem;
}

.dev-credit {
    margin-top: 70px;
    font-size: 0.85rem;
    color: #ddd;

}

.address {
    text-align: left;  
}
