#info-border{
  background-size: cover;
  background-color: #fafafa;
  background-position: center;
  height: 100vh;
  display: flex;
  padding: 5rem 15rem;
  justify-content: center;
  font-family: 'SedraRegular', sans-serif;
}
.infos-container {
  position: relative;
  align-self: center;
  justify-self: center;
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;

}

#botoes{
  position: absolute;
  gap: 1rem;
  display: flex;
}

#botoes button{
  height: 3rem;
  width: 3rem;
  padding: 0;
  border-radius: 999px;
  border: 2px solid var(--orange);
  background-color: transparent;
  font-size: 1.5rem;
  text-align: center;
}

#botoes img{
  filter: invert(1);
}

#botoes :last-child img{
  transform: rotate(-135deg);
}

#botoes button:hover{
  background-color: chocolate;
  border: none;
}

#logo{
  max-width: 12rem;
  align-self: center;
  filter: invert(1);
}

#legenda{
  font-family: 'SedraRegular', sans-serif;
  align-self: center;
  width: 100%;
  text-align: center;
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--orange);
  font-size: 1.25rem;
}

.logo span {
  display: block;
  margin-left: 40px;
}

.section-title {
  font-size: 1.5rem;
  margin: 30px 0 10px;
  width: fit-content;
}

.infos-form {
  display: flex;
  flex-direction: column;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 40px;
  margin-bottom: 30px;
}

input {
  border: none;
  border-bottom: 2px solid var(--orange);
  padding: 8px;
  font-size: 14px;
  color: var(--darkblue);
  background: transparent;
  outline: none;
  font-family: inherit;
}

input::placeholder {
  color: var(--orange);
  font-weight: 600;
}

.form-footer {
  display: flex;
  justify-content: flex-end;
}

button[type="submit"] {
  background-color: var(--orange);
  color: white;
  border: none;
  padding: 10px 25px;
  font-size: 14px;
  cursor: pointer;
  font-family: 'SedraBold';
  justify-content: center;
}

button:hover{
  background-color: chocolate;
}

#linha-horizontal-infos {
  width: 100%;
  height: 2px;
  background-color: #9d4915;
  margin-top: -15px;
  margin-bottom: 30px;
}
