.popUp {
   position: absolute;
  top: 100%;
  left: 0;
  margin-top: 10px;
  z-index: 1000;
  left: 100%;
    transform: translateX(-90%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  color: black;
  font-family: "NunitoSans", sans-serif;
  font-style: normal;
  font-size: 1rem;
}

.popUp-inner {
  background: var(--white);
  padding: 30px;
  border-radius: 8px;
  width: 300px;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.popUp-inner h2 {
  font-family: "SedraRegular", sans-serif;
  padding: 6px 0;
  justify-self: center;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  background: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-form label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.login-form input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: var(--white);
}

.login-form button:hover {
  background-color: var(--eggshell);
}

#senha{
  color: var(--orange);
  align-self: center;
  font-size: 0.9rem;
}

#senha:hover{
  color: var(--brown2);
  text-decoration:underline;
}


#check{
  color: var(--orange);
  align-self: center;
  font-size: 1rem;
  text-align: center;
}

.mensagem-confirmacao {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease;
  min-height: 1.5em; /* garante o espaço mesmo invisível */
  margin-top: 10px;
  color: green;
  font-weight: bold;
}

/* Quando mostraConfirmacao for true, a classe 'visivel' será aplicada */
.mensagem-confirmacao.visivel {
  opacity: 1;
  visibility: visible;
}

#bar{
  margin-bottom: 15px;
  border-bottom: 1px solid var(--orange);
     
}
